.list {
  width: 100%;
  margin-top: 10px;
  .listTitle {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
  }
  .wrapper {
    position: relative;
    .sliderArrow {
      position: absolute;
      width: 30px;
      height: 60%;
      background-color: rgb(31, 29, 29, 0.5);
      color: #fff;
      z-index: 99;
      top: 0;
      bottom: 0;
      margin: auto 10px;
      cursor: pointer;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
    .container {
      margin: 25px 0;
      margin-left: 50px;
      display: flex;
      width: max-content;
      justify-content: space-around;
    }
  }
}
